<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Asset Manager Dashboard</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">



<style>


body{

background:#eef2f7;

}


.navbar{

box-shadow:0px 3px 10px rgba(0,0,0,.2);

}



.card{

border-radius:15px;

box-shadow:0px 5px 15px rgba(0,0,0,.15);

}



.dashboard-card{

transition:.3s;

}



.dashboard-card:hover{

transform:translateY(-5px);

}



.icon{

font-size:45px;

}



</style>


</head>



<body>



<nav class="navbar navbar-dark bg-success">


<div class="container">


<a class="navbar-brand">

<b>
AssetFlow ERP - Asset Manager
</b>

</a>



<div>


<span class="text-white me-3">

<i class="bi bi-person-circle"></i>

{{user.email}}

</span>



<a href="{% url 'logout' %}" 
class="btn btn-danger">

Logout

</a>


</div>


</div>


</nav>





<div class="container mt-5">



<h2>

Welcome Asset Manager

</h2>


<p>

Manage company assets and employee allocations.

</p>



<hr>




<!-- Statistics -->


<div class="row">



<div class="col-md-3 mb-3">


<div class="card bg-primary text-white dashboard-card">


<div class="card-body text-center">


<i class="bi bi-box icon"></i>


<h5>Total Assets</h5>


<h2>

{{total_assets}}

</h2>


</div>


</div>


</div>






<div class="col-md-3 mb-3">


<div class="card bg-success text-white dashboard-card">


<div class="card-body text-center">


<i class="bi bi-check-circle icon"></i>


<h5>Available</h5>


<h2>

{{available_assets}}

</h2>


</div>


</div>


</div>







<div class="col-md-3 mb-3">


<div class="card bg-warning dashboard-card">


<div class="card-body text-center">


<i class="bi bi-person-check icon"></i>


<h5>Allocated</h5>


<h2>

{{allocated_assets}}

</h2>


</div>


</div>


</div>







<div class="col-md-3 mb-3">


<div class="card bg-danger text-white dashboard-card">


<div class="card-body text-center">


<i class="bi bi-exclamation-triangle icon"></i>


<h5>Damaged</h5>


<h2>

{{damaged_assets}}

</h2>


</div>


</div>


</div>



</div>





<div class="row mt-3">



<div class="col-md-4">


<div class="card dashboard-card">


<div class="card-body text-center">


<i class="bi bi-tools icon text-danger"></i>


<h5>Maintenance</h5>


<h2>

{{maintenance_assets}}

</h2>


</div>


</div>


</div>





<div class="col-md-4">


<div class="card dashboard-card">


<div class="card-body text-center">


<i class="bi bi-people icon text-primary"></i>


<h5>Total Employees</h5>


<h2>

{{employees}}

</h2>


</div>


</div>


</div>



</div>






<br>



<h3>

Asset Management

</h3>




<div class="row">





<div class="col-md-3">


<a href="{% url 'add_asset' %}" 
class="text-decoration-none">


<div class="card dashboard-card">


<div class="card-body text-center">


<i class="bi bi-plus-circle icon text-success"></i>


<h5>

Add Asset

</h5>


<p>

Create new asset

</p>


</div>


</div>


</a>


</div>






<div class="col-md-3">


<a href="{% url 'asset_allocation' %}" 
class="text-decoration-none">


<div class="card dashboard-card">


<div class="card-body text-center">


<i class="bi bi-arrow-left-right icon text-primary"></i>


<h5>

Asset Allocation

</h5>


<p>

Assign asset to employee

</p>


</div>


</div>


</a>


</div>







<div class="col-md-3">


<a href="{% url 'asset_list' %}" 
class="text-decoration-none">


<div class="card dashboard-card">


<div class="card-body text-center">


<i class="bi bi-list-check icon text-warning"></i>


<h5>

Inventory

</h5>


<p>

View all assets

</p>


</div>


</div>


</a>


</div>






</div>


</a>


</div>




</div>



</div>



</body>

</html>